.task{
    display: flex;
    border-radius: 8px;
    gap: 12px;
    padding: 16px;
    background-color: var(--gray-500);
    font-weight: bold;
    font-size: 14px;
}

.task label {
    flex: 1;
}

.task + .task {
    margin-top: 12px;
}

.checked {
    text-decoration: line-through;
    color: var(--gray-300);
}

.task button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    

}

.task button svg:hover {
    fill: var(--feedback);
}
