.task{
    display: flex;
    border-radius: 8px;
    gap: 12px;
    padding: 16px;
    background-color: var(--gray-500);
    font-weight: bold;
    font-size: 14px;
}

.task + .task {
    margin-top: 12px;
}

.checked {
    text-decoration: line-through;
    color: var(--gray-300);
}
